body{
     background-color: rgb(216, 206, 206);
     display: flex;
     flex-direction: column;
     
}

.divH1{
     /* border: solid  3px rgba(0, 0, 0, 0.335); */
     display: flex;
     justify-content: center;
     align-items: center;
     text-shadow: 2px 2px red;
}
.style-generator{
     color :rgb(153, 36, 153);
     border: solid 3px black;
     width: max-content;
     padding: 20px;
     border-radius: 20px;
     box-shadow: 3px 3px 5px 3px gray;
}



.allBtn{
    
     margin-top: 3%;
     display: flex;
     justify-content: space-around;
     align-items: center;
     
     
     
}

/* <!-- color button --> */

.btn-grey{
     background-color: grey;
     cursor: pointer;
     text-shadow: 2px 2px red;
}

.btn-grey:hover{
     box-shadow: 3px 3px 5px 3px gray;

}

.btn-grey:focus{
     box-shadow: 3px 3px 5px 3px gray;

}

.btn-red{
     background-color: red;
     cursor: pointer;
     text-shadow: 2px 2px rgb(255, 255, 255);


}


.btn-red:hover{
     box-shadow: 3px 3px 5px 3px gray;

}

.btn-red:focus{
     box-shadow: 3px 3px 5px 3px gray;

}

.btn-green{
     background-color: green;
     cursor: pointer;
     text-shadow: 2px 2px red;

}



.btn-green:hover{
     box-shadow: 3px 3px 5px 3px gray;

}

.btn-green:focus{
     box-shadow: 3px 3px 5px 3px gray;

}


.btn-blue{
     background-color: blue;
     cursor: pointer;
     text-shadow: 2px 2px red;

}

.btn-blue:hover{
     box-shadow: 3px 3px 5px 3px gray;

}

.btn-blue:focus{
     box-shadow: 3px 3px 5px 3px gray;

}

/* <!-- style button --> */

.border-solid{
     border: solid 3px;
     cursor: pointer;
     text-shadow: 2px 2px red;


}


.border-solid:hover{
     box-shadow: 3px 3px 5px 3px gray;

}

.border-solid:focus{
     box-shadow: 3px 3px 5px 3px gray;

}

.border-dotted{
     border: dotted;
     cursor: pointer;
     text-shadow: 2px 2px red;

}

.border-dotted:hover{
     box-shadow: 3px 3px 5px 3px gray;

}

.border-dotted:focus{
     box-shadow: 3px 3px 5px 3px gray;

}
.border-light{
     border: 1px solid;
     cursor: pointer;
     text-shadow: 2px 2px red;

}

.border-light:hover{
     box-shadow: 3px 3px 5px 3px gray;

}

.border-light:focus{
     box-shadow: 3px 3px 5px 3px gray;

}

.top-light{
     border-top: 1px solid rgb(153, 36, 153); 
     cursor: pointer;
     text-shadow: 2px 2px red;

}

.top-light:hover{
     box-shadow: 3px 3px 5px 3px gray;

}

.top-light:focus{
     box-shadow: 3px 3px 5px 3px gray;

}

.top-medium{
     border-top: 3px solid rgb(153, 36, 153); 
     cursor: pointer;
     text-shadow: 2px 2px red;


}

.top-medium:hover{
     box-shadow: 3px 3px 5px 3px gray;

}

.top-medium:focus{
     box-shadow: 3px 3px 5px 3px gray;

}


.top-bold{
     border-top: 5px solid rgb(153, 36, 153); 
     cursor: pointer;
     text-shadow: 2px 2px red;


}

.top-bold:hover{
     box-shadow: 3px 3px 5px 3px gray;

}

.top-bold:focus{
     box-shadow: 3px 3px 5px 3px gray;

}


.bgAndBorder{
     display: flex;
     
     
    
}

.main {
     height: 200px;
     width: 250px;
     background: #3A3A38;
     border-radius: 10px;
     display: grid;
     place-items: center;
     color: #fff;
     font-family: verdana;
     border-radius: 15px;
     margin-top: 5%;
     text-shadow: 2px 2px red;
     box-shadow: 3px 3px 5px 3px gray;

     /* margin-left: ; */
 }
   
 #colorPicker {
     background-color: none;
     outline: none;
     border: none;
     height: 40px;
     width: 60px;
     cursor: pointer;
 }
   
 #box {
     outline: none;
     border: 2px solid #333;
     border-radius: 50px;
     height: 40px;
     width: 120px;
     padding: 0 10px;
 }

 .divWithLabel{
      display: flex;
      margin-top: 5%;
      margin-left: 5%;
      border: solid 3px ;
      padding: 5%;
      border-radius: 10px;
      background-color: rgb(185, 173, 185); 
      text-shadow: 1px 1px red;
      box-shadow: 3px 3px 5px 3px gray;

 }

.allRadius{
     border: 3px solid;
     width: 20%;
     margin-left: 5%;
     margin-top: 5%;
     background-color: rgb(185, 173, 185); 
     padding: 2%;
     border-radius: 10px;
     text-shadow: 1px 1px red;
     box-shadow: 3px 3px 5px 3px gray;

     
  
}

.parentSquare{
     display: flex;
     justify-content: center;
}

.square{
     border: solid 1px;
     width: 500px;
     height: 250px;
     margin-top: 3%;
     
   
}